# development
.idea
*.bak
*.pyc
*.swp
*~
debug*.ipynb
debug*.py
/debug*

# user data
/dataset*
/workspace*
/models*
/training_user_settings
/external
/update.var
config.json
secrets.json

# environments
/.venv*
/venv*
/conda_env*
.python-version
*.egg-info

# pixi environments
.pixi
pixi.lock
pixi.toml

# misc files
/src
train.bat
debug_report.log
